<div class="col-lg-10 col-lg-offset-2 ">
    <div class="jumbotron">
        <h2>{{titulo}}</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure fuga nisi autem excepturi adipisci, nostrum iusto nemo necessitatibus ab vero, doloribus doloremque
        recusandae eveniet sed laborum quia ratione magnam illum!</p>
        <p>
            <a href="#" class="btn btn-lg btn-primary">Ver productos</a>
            <a href="#" class="btn btn-lg btn-success">Añadir productod</a>
        </p>
    </div>    
</div>
 
     


